@import url('https://fonts.cdnfonts.com/css/jost');

@media screen and (min-width: 800px) {
    .details-main {
        font-family: 'Jost*', sans-serif;
        
    }

    .details-title {
        text-align: center;
        font-size: 50px;
        margin: 5%;
    }

    .details-event-details-eng {
        background-color: #fff;
        padding: 100px;
        text-align: center;
        font-size: 20px;
    }

    .details-event-details-chn {
        background-color: #DEEBF7;
        padding: 100px;
        text-align: center;
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    .details-main {
        font-family: 'Jost*', sans-serif;
    }
}