/* desktop */
@media screen and (min-width: 1200px) {
    /* whole ticket page */
    .TicketPage {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F1D7AF;
    }

    /* form section of the page */
    .FormSection {
        background-color: white;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 100px;
        padding-right: 100px;
        border-radius: 10px;
    }

    /* title of the form */
    .FormTitle {
        color: #E37C2D;
        font-family: 'Jost*', sans-serif;
        text-align: center;
    }

    /* submit button */
    .TicketSubmitBt {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: none;
        background-color: #E37C2D;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 30px;
        transition: transform 0.3s;
    }
    .TicketSubmitBt:hover {
        transform: scale(1.05);
    }

    /* reminder Page */
    .ReminderPage {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F1D7AF;
    }

    /* reminder section */
    .ReminderSection {
        width: 500px;
        background-color: white;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 60px;
        padding-right: 60px;
        border-radius: 10px;
    }

    /* reminder text */
    .ReminderH1 {
        text-align: center;
        font-family: 'Jost*', sans-serif;
    }

    /* etransfer reminder */
    .EtransferP{
        text-align: center;
        font-family: 'Jost*', sans-serif;
        font-size: 1.3em;
    }

    /* reminder copy button */
    .ReminderBt {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: #E37C2D;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-top: 10%;
        margin-bottom: 30px;
        margin-left: 25%;
        margin-right: 25%;
        transition: transform 0.3s;
    }
    .ReminderBt:hover {
        transform: scale(1.05);
    }
}

/* half desktop */
@media screen and (min-width: 801px) and (max-width: 1199px) {
    /* whole ticket page */
    .TicketPage {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F1D7AF;
    }

    /* form section of the page */
    .FormSection {
        background-color: white;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 100px;
        padding-right: 100px;
        border-radius: 10px;
    }

    /* title of the form */
    .FormTitle {
        color: #E37C2D;
        font-family: 'Jost*', sans-serif;
        text-align: center;
    }

    /* submit button */
    .TicketSubmitBt {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: none;
        background-color: #E37C2D;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 30px;
        transition: transform 0.3s;
    }
    .TicketSubmitBt:hover {
        transform: scale(1.05);
    }

    /* reminder Page */
    .ReminderPage {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F1D7AF;
    }

    /* reminder section */
    .ReminderSection {
        width: 75%;
        background-color: white;
        margin-top: 10%;
        margin-bottom: 10%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
    }

    /* reminder text */
    .ReminderH1 {
        text-align: center;
        font-family: 'Jost*', sans-serif;
    }

    /* etransfer reminder */
    .EtransferP{
        text-align: center;
        font-family: 'Jost*', sans-serif;
        font-size: 1.3em;
    }

    /* reminder copy button */
    .ReminderBt {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: #E37C2D;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-top: 20%;
        margin-bottom: 30px;
        margin-left: 25%;
        margin-right: 25%;
        transition: transform 0.3s;
    }
    .ReminderBt:hover {
        transform: scale(1.05);
    }
}

/* mobile devices */
@media screen and (max-width: 800px) {
    /* whole ticket page */
    .TicketPage {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* form section of the page */
    .FormSection {
        margin-top: 2%;
    }

    /* title of the form */
    .FormTitle {
        color: #E37C2D;
        font-family: 'Jost*', sans-serif;
        text-align: center;
    }

    /* submit button */
    .TicketSubmitBt {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: none;
        background-color: #E37C2D;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 30px;
        transition: transform 0.3s;
    }
    .TicketSubmitBt:hover {
        transform: scale(1.05);
    }

    /* reminder Page */
    .ReminderPage {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F1D7AF;
    }

    /* reminder section */
    .ReminderSection {
        width: 75%;
        background-color: white;
        margin-top: 10%;
        margin-bottom: 10%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
    }

    /* reminder text */
    .ReminderH1 {
        text-align: center;
        font-family: 'Jost*', sans-serif;
    }

    /* etransfer reminder */
    .EtransferP{
        text-align: center;
        font-family: 'Jost*', sans-serif;
        font-size: 1.3em;
    }

    /* reminder copy button */
    .ReminderBt {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: #E37C2D;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-top: 20%;
        margin-bottom: 30px;
        margin-left: 25%;
        margin-right: 25%;
        transition: transform 0.3s;
    }
    .ReminderBt:hover {
        transform: scale(1.05);
    }
}