@import url('https://fonts.cdnfonts.com/css/jost');

/* desktop */
@media screen and (min-width: 1200px) {
    /* "Vancouver Taiwanese Student Forum" on home page */
    .HomeTitle {
        font-family: 'Jost*', sans-serif;
        font-size: 5em;
        text-align: center;
        margin-top: 3%;
        letter-spacing: 5px;
        font-weight: bold;
        color: black;
    }

    /* "溫哥華台灣學生論壇" on home page */
    .HomeSubTitle {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 3%;
        font-family: 'cwTeXKai';
        color: black;
        letter-spacing: 3px;
    }

    /* English introduction on home page */
    .IntroEng {
        font-family: 'Jost*', sans-serif;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        font-size: 1.2em;
        color: #333000;
    }

    /* Chinese introduction on home page */
    .IntroChn {
        background-color: #E37C2D;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        font-size: 1.2em;
        color: white;
    }
}

/* half desktop */
@media screen and (min-width: 801px) and (max-width: 1199px) {
    /* "Vancouver Taiwanese Student Forum" on home page */
    .HomeTitle {
        font-family: 'Jost*', sans-serif;
        font-size: 2em;
        text-align: center;
        margin-top: 1%;
        letter-spacing: 5px;
        font-weight: bold;
        color: black;
    }
    /* "溫哥華台灣學生論壇" on home page */
    .HomeSubTitle {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 3%;
        font-family: 'cwTeXKai';
        color: black;
        letter-spacing: 3px;
    }

    /* English introduction on home page */
    .IntroEng {
        font-family: 'Jost*', sans-serif;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        font-size: 1em;
    }

    /* Chinese introduction on home page */
    .IntroChn {
        background-color: #E37C2D;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        font-size: 1em;
        color: white;

    }
}

/* mobile devices */
@media screen and (max-width: 800px) {
    /* "Vancouver Taiwanese Student Forum" on home page */
    .HomeTitle {
        font-family: 'Jost*', sans-serif;
        font-size: 2em;
        text-align: center;
        margin-top: 1%;
        letter-spacing: 5px;
        font-weight: bold;
        color: black;
    }
    /* "溫哥華台灣學生論壇" on home page */
    .HomeSubTitle {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 3%;
        font-family: 'cwTeXKai';
        color: black;
        letter-spacing: 3px;
    }

    /* English introduction on home page */
    .IntroEng {
        font-family: 'Jost*', sans-serif;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        font-size: 1em;
    }

    /* Chinese introduction on home page */
    .IntroChn {
        background-color: #E37C2D;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        font-size: 1em;
        color: white;

    }
}

/* Chinese Font */
@font-face {
    font-family: 'cwTeXKai';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot);
    src: url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff) format('woff'),
         url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.ttf) format('truetype');
}