/* desktop */
@media screen and (min-width: 1200px) {
    /* redeem Page */
    .RedeemPage {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F1D7AF;
    }

    /* redeem section */
    .RedeemSection {
        width: 50%;
        background-color: white;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 60px;
        padding-right: 60px;
        border-radius: 10px;
    }

    /* redeem text */
    .RedeemH1 {
        text-align: center;
        font-family: 'Jost*', sans-serif;
    }

    /* redeem/home/getTicket button */
    .RedeemBt {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: #E37C2D;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-top: 10%;
        margin-bottom: 30px;
        margin-left: 25%;
        margin-right: 25%;
        transition: transform 0.3s;
    }
    .RedeemBt:hover {
        transform: scale(1.05);
    }

    /* warning message */
    .WarningMessage{
        font-size: 1em;
        color: red;
        white-space: normal;
    }
}

/* half desktop */
@media screen and (min-width: 801px) and (max-width: 1199px) {
    /* redeem Page */
    .RedeemPage {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F1D7AF;
    }

    /* redeem section */
    .RedeemSection {
        width: 65%;
        background-color: white;
        margin-top: 15%;
        margin-bottom: 20%;
        padding-top: 6%;
        padding-bottom: 6%;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
    }

    /* redeem text */
    .RedeemH1 {
        text-align: center;
        font-family: 'Jost*', sans-serif;
    }

    /* redeem/home/getTicket button */
    .RedeemBt {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: #E37C2D;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-top: 20%;
        margin-bottom: 30px;
        margin-left: 25%;
        margin-right: 25%;
        transition: transform 0.3s;
    }
    .RedeemBt:hover {
        transform: scale(1.05);
    }

    /* warning message */
    .WarningMessage{
        font-size: 1em;
        color: red;
        white-space: normal;
    }
}

/* mobile devices */
@media screen and (max-width: 800px) {
    /* redeem Page */
    .RedeemPage {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F1D7AF;
    }

    /* redeem section */
    .RedeemSection {
        width: 75%;
        background-color: white;
        margin-top: 10%;
        margin-bottom: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
    }

    /* redeem text */
    .RedeemH1 {
        text-align: center;
        font-family: 'Jost*', sans-serif;
    }

    /* redeem/home/getTicket button */
    .RedeemBt {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: #E37C2D;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-top: 20%;
        margin-bottom: 30px;
        margin-left: 25%;
        margin-right: 25%;
        transition: transform 0.3s;
    }
    .RedeemBt:hover {
        transform: scale(1.05);
    }

    /* warning message */
    .WarningMessage{
        font-size: 0.8em;
        color: red;
        white-space: normal;
    }
}