@import url('https://fonts.cdnfonts.com/css/jost');

/* desktop */
@media screen and (min-width: 1200px) {
    /* One single commitee card */
    .SingleCard {
        margin-bottom: 2%;
        width: 50%;
        padding: 1%;
    }

    /* Commitee cards title */
    .CommitteeCardTitle {
        text-align: center;
        font-family: 'Jost*', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 1%;
    }

    .CommitteeCardTitleWithLinkedInLogo {
        display: flex;
        justify-content: center;
    }

    .LinkedIn {
        margin-left: 10px;
    }

    /* For the image on the card from the commitee page */
    .CardImage {
        border-radius: 8px;

        height: auto;
        max-height: 300px;
        width: 40%;
        max-width: 300px;

        margin-left: auto;
        margin-right: auto;
        
        display: block;
    }

    .CardText {
        text-align: center;
        padding-left: 20%;
        padding-right: 20%;
    }
}

/* half desktop */
@media screen and (min-width: 801px) and (max-width: 1199px) {
    /* One single commitee card */
    .SingleCard {
        margin-bottom: 2%;
        width: 50%;
        padding: 1%;
    }

    /* Commitee cards title */
    .CommitteeCardTitle {
        text-align: center;
        font-family: 'Jost*', sans-serif;
        font-size: 1.3em;
        font-weight: bold;
        margin-top: 1%;
    }

    .CommitteeCardTitleWithLinkedInLogo {
        display: flex;
        justify-content: center;
    }

    /* For the image on the card from the commitee page */
    .CardImage {
        border-radius: 8px;
    
        height: auto;
        max-height: 300px;
        width: 80%;
        max-width: 300px;
    
        margin-left: auto;
        margin-right: auto;
        
        display: block;
    }

    .CardText {
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }
}

/* mobile devices */
@media screen and (max-width: 800px) {
    /* One single commitee card */
    .SingleCard {
        margin-bottom: 2%;
        width: 50%;
        padding: 1%;
    }

    /* Commitee cards title */
    .CommitteeCardTitle {
        text-align: center;
        font-family: 'Jost*', sans-serif;
        font-weight: bold;
        margin-top: 1%;
    }

    .CommitteeCardTitleWithLinkedInLogo {
        display: flex;
        justify-content: center;
    }

    /* For the image on the card from the commitee page */
    .CardImage {
        border-radius: 8px;
    
        height: auto;
        max-height: 300px;
        width: 80%;
        max-width: 300px;
    
        margin-left: auto;
        margin-right: auto;
        
        display: block;
    }

    .CardText {
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }
}