@media screen and (min-width: 800px) {
    .mobile-nav-container {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .mobile-nav-container {
        display: flex;
        justify-content: center;
    }
    
    .mobile-navbar {
        display: flex;
        justify-content: center;
      }
      
    .mobile-navbar ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    
    .mobile-navbar li {
        margin: 0 10px;
        position: relative;
    }
    
    .mobile-navbar a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        transition: color 0.3s ease-in-out;
        display: inline-block;
        line-height: 2;
        font-size: 12px;
    }

    .disabled-link {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.6;
      }
    
}