@import url('https://fonts.cdnfonts.com/css/jost');

/* desktop */
@media screen and (min-width: 1200px) {
    /* One single commitee card */
    .SingleCard {
        /* margin: auto; */
        margin-bottom: 2%;
        width: 50%;
        padding: 1%;

        /* to be deleted */
        /* border: 3px solid black; */
    }

    /* image on the sponsor card */
    .SponsorCardImage {
        height: 40%;
        max-height: 300px;
        width: 40%;
        max-width: 300px;
    
        margin-left: auto;
        margin-right: auto;
        
        display: block;
    }
    
    /* sponsor cards title */
    .CardTitle {
        text-align: center;
        font-family: 'Jost*', sans-serif;
        font-size: 1.5em;
        font-weight: bold;

        margin-top: 1%;
    }

    /* sponsor website */
    .SponsorWeb {
        text-decoration: underline;
        font-weight: bold;
        color: black;
    }
}

/* half desktop */
@media screen and (min-width: 801px) and (max-width: 1199px) {
    /* One single commitee card */
    .SingleCard {
        /* margin: auto; */
        margin-bottom: 2%;
        width: 50%;
        padding: 1%;

        /* to be deleted */
        /* border: 3px solid black; */
    }

    /* image on the sponsor card */ 
    .SponsorCardImage {
        height: 100%;
        width: 100%;
    
        margin-left: auto;
        margin-right: auto;
        
        display: block;
    }

    /* Sponsor cards title */
    .CardTitle {
        text-align: center;
        font-family: 'Jost*', sans-serif;
        font-size: 1.5em;
        font-weight: bold;

        margin-top: 1%;
    }

    /* sponsor cards title */
    .CardTitle {
        text-align: center;
        font-family: 'Jost*', sans-serif;
        font-size: 1.25em;
        font-weight: bold;

        margin-top: 1%;
    }

    /* sponsor website */
    .SponsorWeb {
        text-decoration: underline;
        font-weight: bold;
        color: black;
    }
    
}

/* mobile devices */
@media screen and (max-width: 800px) {
    /* One single commitee card */
    .SingleCard {
        /* margin: auto; */
        margin-bottom: 2%;
        width: 70%;
        padding: 1%;

        /* to be deleted */
        /* border: 3px solid black; */
    }

    /* image on the sponsor card */ 
    .SponsorCardImage {
        height: 100%;
        width: 100%;
    
        margin-left: auto;
        margin-right: auto;
        
        display: block;
    }

    /* sponsor cards title */
    .CardTitle {
        text-align: center;
        font-family: 'Jost*', sans-serif;
        font-weight: bold;
    
        margin-top: 1%;
    }

    /* sponsor website */
    .SponsorWeb {
        text-decoration: underline;
        font-weight: bold;
        color: black;
    }
}