/* For the section stor all the cards in commitee page */
.AllCards {
    width: 75%;
    margin: auto;

    /* to be deleted */
    /* border: 5px solid black; */
}

/* One single commitee card */
.SingleCard {
    /* margin: auto; */
    margin-bottom: 2%;
    width: 50%;
    padding: 1%;

    /* to be deleted */
    /* border: 3px solid black; */
}

/* Commitee cards text */
.CardText {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.25em;
    padding-left: 20%;
    padding-right: 20%;
}

/* Whole footer */
.Footer {
    background-color: #EFEFEF;
}

/* Only for the interval of logos on the footer */
.Logo {
    margin-right: 10px;
}

.TicketButton {
    margin-right: 10%;
}

.SponsorRank {
    font-family: palatino, serif;
    text-align: center;
    margin-top: 5%;
}

.SponsorWeb {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

.TitleText {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.12em;
    padding-left: 10%;
}


.EventDetailsSubTitle {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 3%;
    font-family: 'cwTeXKai';
}

.BlogSection {
    display: felx;
    justify-content: center;    
    align-items: center; 
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 2%;
}

.BlogCol {
   margin: 5%;
   vertical-align: middle;
}

.NavBox {
    display: flex;
}

.EmptyBox {
    flex: 1;
}

.Nav {
    background-color: white;
    color: Gray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0.6%;
    flex: 1;
}

.Nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 7rem;
}

.Nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}

/* BlogPost Page */
@media screen and (min-width: 900px) {
    .PostSection {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .PostTitleSection {
        display: flex;
    }
    
    .PostTitle {
        font-family: 'Garamond', serif;
        font-style: italic;
        flex: 2;
    }
    
    .PostDateAndTime {
        text-align: right;
        vertical-align: bottom;
        color: Gray;
        margin-bottom: 5%;
        flex: 1;
    }
    
    .PostCarouselSize {
       display: flex;
       justify-content: center;
       align-content: center;
       flex-wrap: wrap;
       width: 100%;
    }
    
    .PostContentSection {
        display: flex;
    
    }
    
    .PostImage {
        flex: 1;
    }
    
    .PostContent {
        padding-top: 1%;
        padding-left: 5%;
        font-size: 1.1em;
        font-family: 'Trebuchet MS', sans-serif;
        flex: 1;
    }

    /* Event Details */
    .EventDetailsTitle {
        font-family: 'Apple Chancery', sans-serif;
        font-size: 5em;
        text-align: center;
        margin-top: 3%;
    }

    .EventDetailsEng {
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        font-size: 1.2em;
    }
    
    .EventDetailsChn {
        background-color: #8A2A36;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        font-size: 1.2em;
        color: white;
    }

    .SponsorCardImage {
        height: 40%;
        max-height: 300px;
        width: 40%;
        max-width: 300px;
    
        margin-left: auto;
        margin-right: auto;
        
        display: block;
    }

    /* For the image on the card from the commitee page */
    .CardImage {
        border-radius: 8px;

        height: auto;
        max-height: 300px;
        width: 40%;
        max-width: 300px;

        margin-left: auto;
        margin-right: auto;
        
        display: block;
    }

    /* Carousel image */
    .CarouselSize {
        height: auto;
        max-height: 70%;
        width: auto;
        max-width: 70%;

        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

    /* Commitee cards title */
    .CardTitle {
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        font-size: 1.5em;
        font-weight: bold;

        margin-top: 1%;
    }

}

@media screen and (max-width: 900px) {
    .PostSection {
        padding-left: 3%;
        padding-right: 3%;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .PostTitle {
        font-family: 'Garamond', serif;
        font-style: italic;
    }

    .PostDateAndTime {
        color: Gray;
        margin-bottom: 5%;
    }

    .PostCarouselSize {
        width: 100%;
    }

    .PostContent {
        padding-left: 2%;
        padding-right: 2%;
        font-family: 'Trebuchet MS', sans-serif;
    }

    .EventDetailsTitle {
        font-family: 'Apple Chancery', sans-serif;
        font-size: 2em;
        text-align: center;
        margin-top: 1%;
    }

    .EventDetailsEng {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        font-size: 1em;
    }

    .EventDetailsChn {
        background-color: #8A2A36;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        font-size: 1em;
        color: white;
    }

    .SponsorCardImage {
        height: 100%;
        width: 100%;
    
        margin-left: auto;
        margin-right: auto;
        
        display: block;
    }

    .CardImage {
        border-radius: 8px;
    
        height: auto;
        max-height: 300px;
        width: 80%;
        max-width: 300px;
    
        margin-left: auto;
        margin-right: auto;
        
        display: block;
    }

    .CarouselSize {
        height: auto;
        max-height: 100%;
        width: auto;
        max-width: 100%;
    
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .CardTitle {
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
    
        margin-top: 1%;
    }
}


/* Background color */
.BGC {
    background-color: #FFFFFD;
}

.NAVC {
    background-color: #EFEFEF;
}


/* Chinese Font */
@font-face {
    font-family: 'cwTeXKai';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot);
    src: url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff) format('woff'),
         url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.ttf) format('truetype');
}
