.CardImage {
    border: 1px solid black;
    border-radius: 15px;

    height: auto;
    max-height: 250px;
    width: 40%;
    max-width: 250px;

    margin-left: auto;
    margin-right: auto;
    
    display: block;
}

.AllCards {
    /* to be deleted */
    border: 5px solid black;

    width: 75%;
    margin: auto;
}

.ImageBetween {
    margin: 20px;
}

.SingleCard {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

.CardText {
    text-align: center;
}