/* For the image on the card from the commitee page */
.CardImage {
    border-radius: 8px;

    height: auto;
    max-height: 300px;
    width: 40%;
    max-width: 300px;

    margin-left: auto;
    margin-right: auto;
    
    display: block;
}

/* For the section stor all the cards in commitee page */
.AllCards {
    width: 75%;
    margin: auto;

    /* to be deleted */
    /* border: 5px solid black; */
}

/* One single commitee card */
.SingleCard {
    /* margin: auto; */
    margin-bottom: 2%;
    width: 50%;
    padding: 1%;

    /* to be deleted */
    /* border: 3px solid black; */
}

/* Commitee cards title */
.CardTitle {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    font-weight: bold;

    margin-top: 1%;
}

/* Commitee cards text */
.CardText {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.25em;
    padding-left: 20%;
    padding-right: 20%;
}

/* Whole footer */
.Footer {
    background-color: #EFEFEF;
}

/* Only for the interval of logos on the footer */
.Logo {
    margin-right: 10px;
}

/* Carousel image */
.CarouselSize {
    height: auto;
    max-height: 70%;
    width: auto;
    max-width: 70%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.TicketButton {
    margin-right: 10%;
}

.SponsorCardImage {
    height: 40%;
    max-height: 300px;
    width: 40%;
    max-width: 300px;

    margin-left: auto;
    margin-right: auto;
    
    display: block;
}

.SponsorRank {
    font-family: palatino, serif;
    text-align: center;
    margin-top: 5%;
}

.SponsorWeb {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

.TitleText {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.12em;
    padding-left: 10%;
}

/* Event Details */
.EventDetailsTitle {
    font-family: 'Apple Chancery', sans-serif;
    font-size: 5em;
    text-align: center;
    margin-top: 3%;
}

.EventDetailsSubTitle {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 3%;
    font-family: 'cwTeXKai';
}

.EventDetailsEng {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 1.2em;
}

.EventDetailsChn {
    background-color: #8A2A36;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 1.2em;
    color: white;
}

.BlogSection {
    display: felx;
    justify-content: center;    
    align-items: center; 
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 2%;
}

.BlogCol {
   margin: 5%;
   vertical-align: middle;
}

/* BlogPost Page */
.PostSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.PostTitleSection {
    margin-bottom: 2%;
    display: flex;
}

.PostTitle {
    flex: 1;
    font-family: 'Garamond', serif;
    font-style: italic;
}

.PostDateAndTime {
    text-align: right;
    vertical-align: bottom;
    flex: 1;
    color: Gray;
}

.PostCarouselSize {
   display: flex;
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;
   width: 100%;
}

.PostContent {
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.25em;
    font-family: 'Trebuchet MS', sans-serif;
}

/* Background color */
.BGC {
    background-color: #FFFFFD;
}

.NAVC {
    background-color: #EFEFEF;
}

/* Chinese Font */
@font-face {
    font-family: 'cwTeXKai';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot);
    src: url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff) format('woff'),
         url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.ttf) format('truetype');
}
